<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <clear />
    <add key="azure-artifacts" value="https://pkgs.dev.azure.com/vialto/myMobility-CoreApp/_packaging/ci-1/nuget/v3/index.json" />
  </packageSources>
</configuration>
