<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="authentication" type="Calendar.General.Configuration.CalendarServiceAuthenticationConfiguration,Calendar.General" />
    <section name="feed" type="Calendar.General.Configuration.FeedConfiguration, Calendar.General" />
  </configSections>
  <appSettings>
    <add key="ApplicationName" value="CalendarService" />
    <add key="ApplicationVersion" value="1.2.3" />
  </appSettings>
  <authentication configSource="Configs/authentication.config" />
  <feed configSource="Configs/feed.config" />
</configuration>