<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
	<targets>
		<target xsi:type="Console" name="lifetimeConsole" layout="${MicrosoftConsoleLayout}" />
		<target name="console" xsi:type="Console">
			<layout type="JsonLayout">
				<attribute name="Time" layout="${longdate}"/>
				<attribute name="Level" layout="${level:uppercase=true}"/>
				<attribute name="Logger" layout="${logger}"/>
				<attribute name="Message" layout="${message}"/>
				<attribute name="properties" encode="false" >
					<layout type="JsonLayout" includeEventProperties="true" maxRecursionLimit="2" />
				</attribute>
				<attribute name="exception" encode="false">
					<layout type="JsonLayout">
						<attribute name="type" layout="${exception:format=type}" />
						<attribute name="message" layout="${exception:format=message}" />
						<attribute name="stacktrace" layout="${exception:format=tostring}" />
					</layout>
				</attribute>
			</layout>
		</target>
	</targets>
	<rules>
		<logger name="Vialto.AccessLogging" minlevel="Info" writeTo="console" final="true" />
		<logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="lifetimeConsole, ownFile-web" final="true" />
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="System.Net.Http.*" maxlevel="Info" final="true" />
		<logger name="*" minlevel="Error" writeTo="console" />
	</rules>
</nlog>