<?xml version="1.0" encoding="utf-8" ?>
<authentication>
  <users>
    <add name="mytaxes" password="mytaxes123" role="BasicUser"/>
    <add name="admin" password="admin123" role="BasicUser"/>
    <add name="myTravel" password="myTravel123" role="BasicUser"/>
    <add name="travelWatch" password="travelWatch123" role="BasicUser"/>
    <add name="mobileSyncService" password="mobileSyncService123" role="BasicUser"/>
    <add name="impersonateMytaxes" password="impersonateMytaxes123" role="ImpersonateUser"/>
    <add name="migrationUser" password="migrationUser123" role="MigrationUser"/>
    <add name="iasMobilityApi" password="iasMobilityApi123" role="BasicUser"/>
  </users>
</authentication>